<div class="flex-col  text-white bg-pink-800 p-6 rounded-3xl shadow-md w-86">
  <h2 class="text-center text-2xl font-bold">Login</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <div class="field p-1">
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border rounded-2xl p-2 text-black"  %>
    </div>
  
    <div class="field p-1">
      <%= form.label :password %><br />
      <%= form.password_field :password, autocomplete: "current-password", class: "w-full border rounded-2xl p-2 text-black" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field p-1">
        <%= form.check_box :remember_me %>
        <%= form.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions p-1">
      <%= form.submit "Log in", class: "w-full border rounded-2xl p-2 hover:bg-pink-950 hover:font-bold cursor-pointer" %>
    </div>
  <% end %>
    <%= render "users/shared/links" %>

</div>
