<div class="flex-col  text-white bg-pink-800 p-6 rounded-3xl shadow-md w-86">
<h2 class="text-center text-2xl font-bold">Login - Adm</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field p-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "w-full border rounded-2xl p-2 text-black" %>
  </div>

  <div class="field p-1">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full border rounded-2xl p-2 text-black" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field p-1">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions p-1">
    <%= f.submit "Log in", class: "w-full border rounded-2xl p-2 hover:bg-pink-950 hover:font-bold cursor-pointer" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
</div>
