<!DOCTYPE html>
<html>
  <head>
    <title>Compiled</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="overflow-hidde">
    <%= render 'shared/nav' %>
    <h1>Area de usuarios</h1>
    <main class="flex justify-center min-h-full p-10">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
